@charset "UTF-8";

.topbar {
  font-size: 13px;
}

.google {
  width: 300px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.google img {
  
  width: 100%;
  margin-top: 200px;
  margin-left:0 auto;
  margin-right:0 auto;
}

body {
      font-size: 16px;
      font-family: sans-serif;
}

.right-top {
      float: right;
}

.left-top {
      float: left;
      padding-left: 5px;
}

li {
      display: inline;
      padding: 12px;
}

.wrap {
      width: 480px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border: 30px;
}

.wrap input {
      height: 45px;
      width: 100%;
      border-radius: 25px;
      text-indent: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: #DCDCDC;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.buttons {
      width: 310px;
      margin-left: auto;
      margin-right: auto;
}

.buttons button {
      border-radius: 8px;
      background: #F0F0F0;
      height: 40px;
      border: 10px;
      margin: 10px;
      width: 42.5%;
      font-size: 15px;
      color: #707070;
      
      
}

